.profile_banner {
    background: url("https://img.freepik.com/premium-photo/colorful-abstract-background-with-wavy-design_900321-25680.jpg");
    background-size: cover;
    background-position: top center;
}