<div class="p-4 pt-0 sm:ml-64">
    <div
        class="flex items-center justify-between mt-5 sm:h-48 mb-4 rounded-md bg-gray-50 dark:bg-gray-800 gradient_image relative">
        <div class="p-6">
            <h1 class="text-3xl font-bold text-white">Task Manager</h1>
            <h1 class="text-lg font-medium text-white opacity-80 mt-2">Organize, prioritize, and accomplish your goals
            </h1>
        </div>
    </div>

    <!-- 4/2 tiles -->
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mb-4">
        <div
            class="flex items-center justify-center flex-col py-5 px-2 sm:py-0 sm:flex-row gap-4 sm:h-24 rounded-md bg-pink-50 dark:bg-pink-800">
            <div class="bg-pink-200 w-12 h-12 flex justify-center items-center rounded-lg">
                <i class="ri-list-check-3 text-2xl"></i>
            </div>
            <span class="text-center sm:text-left">
                <p class="capitalize leading-5 text-sm">total tasks</p>
                <h3 class="text-2xl font-bold leading-6">{{userService.userData.tasks.length}}</h3>
            </span>
        </div>
        <div
            class="flex items-center justify-center flex-col py-5 px-2 sm:py-0 sm:flex-row gap-4 sm:h-24 rounded-md bg-green-50 dark:bg-green-800">
            <div class="bg-green-200 w-12 h-12 flex justify-center items-center rounded-lg">
                <i class="ri-progress-3-line text-2xl"></i>
            </div>
            <span class="text-center sm:text-left">
                <p class="capitalize leading-5 text-sm"> backlog tasks</p>
                <h3 class="text-2xl font-bold leading-6">{{userService.backlogTask.length}}</h3>
            </span>
        </div>
        <div
            class="flex items-center justify-center flex-col py-5 px-2 sm:py-0 sm:flex-row gap-4 sm:h-24 rounded-md bg-blue-50 dark:bg-blue-800">
            <div class="bg-blue-200 w-12 h-12 flex justify-center items-center rounded-lg">
                <i class="ri-task-line text-2xl"></i>
            </div>
            <span class="text-center sm:text-left">
                <p class="capitalize leading-5 text-sm"> ongoing / todo task</p>
                <h3 class="text-2xl font-bold leading-6">{{userService.ongoingTask.length +
                    userService.todoTask.length}}</h3>
            </span>
        </div>
        <div
            class="flex items-center justify-center flex-col py-5 px-2 sm:py-0 sm:flex-row gap-4 sm:h-24 rounded-md bg-yellow-50 dark:bg-yellow-800">
            <div class="bg-yellow-200 w-12 h-12 flex justify-center items-center rounded-lg">
                <i class="ri-progress-3-line text-2xl"></i>
            </div>
            <span class="text-center sm:text-left">
                <p class="capitalize leading-5 text-sm"> completed tasks</p>
                <h3 class="text-2xl font-bold leading-6">{{userService.doneTask.length}}</h3>
            </span>
        </div>
    </div>

    <div class="grid sm:grid-cols-2 gap-4 mb-4">
        <div class=" rounded-md bg-gray-50 dark:bg-gray-800">
            <app-radial />
        </div>
        <div class=" rounded bg-gray-50  dark:bg-gray-800">
            <app-pie />
        </div>
    </div>
    <div class="mb-4 rounded bg-gray-50 dark:bg-gray-800 max-w-screen overflow-scroll">
        <app-task-table />
    </div>
    <!-- </div> -->
</div>