<button type="button" (click)="openTaskForm()"
    class=" bg-black w-[100%] mt-6 sm:mt-0   border-2 text-white font-medium rounded-lg text-xs px-6 py-2.5 me-2 mb-2  focus:outline-none ">
    <i class="ri-add-line"></i> Add Task
</button>

<div *ngIf="taskService.taskFormState"
    class="fixed h-screen w-screen top-0 left-0 bg-gray-900/70 z-50 flex justify-center items-center p-4">

    <form class="max-w-sm mx-auto bg-white p-3 rounded-lg min-w-[300px]  sm:min-w-[340px] slide-top"
        [formGroup]="taskform" (submit)="submitForm()">

        <h1 class="text-2xl font-bold">Add New Task</h1>
        <p class="text-slate-700 mb-5">
            Lorem ipsum dolor sit amet consectetur,
        </p>

        <div class="mb-5">
            <label for="taskName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Task Name</label>
            <input type="text" id="taskName" formControlName="name"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="" required />

            <!-- validation  task name -->
            <span *ngIf="taskform.get('name')?.touched && taskform.get('name')?.invalid">
                <small class="text-red-500" *ngIf="taskform.get('name')?.errors?.['required']">
                    Task name is required
                </small>
            </span>
        </div>
        <div class="mb-4">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Task
                stage</label>

            <input id="stage-radio-1" type="radio" value="0" name="stage" formControlName="stage"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="stage-radio-1"
                class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Backlog</label><br>
            <!-- todo -->
            <input id="stage-radio-2" type="radio" value="1" name="stage" formControlName="stage"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="stage-radio-2"
                class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Todo</label><br>
            <!-- ongoing -->
            <input id="stage-radio-3" type="radio" value="2" name="stage" formControlName="stage"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="stage-radio-3"
                class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">ongoing</label><br>
            <!-- done -->
            <input id="stage-radio-4" type="radio" value="3" name="stage" formControlName="stage"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="stage-radio-4" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">done</label>
        </div>

        <!-- priority -->
        <div class="mb-4">
            <label for="taskPriority"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Priority</label>
            <select formControlName="priority"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                name="" id="taskPriority">
                <option value="0">low</option>
                <option value="1">medim</option>
                <option value="2">high</option>
            </select>
        </div>

        <div class="mb-4">
            <label for="deadline" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Dead
                Line</label>
            <input type="date" id="deadline" formControlName="deadline"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="" required />

            <!-- validation  task deadline -->
            <span *ngIf="taskform.get('deadline')?.touched && taskform.get('deadline')?.invalid">
                <small class="text-red-500" *ngIf="taskform.get('deadline')?.errors?.['required']">
                    Task deadline is required
                </small>
            </span>
        </div>

        <div class="flex gap-2">
            <div (click)="openTaskForm()"
                class="text-black cursor-pointer focus:ring-4 focus:outline-none ring-1 ring-black  font-medium rounded-lg text-sm w-full  px-5 py-2.5 text-center">
                Close</div>
            <button type=" submit" [disabled]="taskform.invalid"
                class="text-white disabled:bg-slate-400 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full  px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                {{isformTypeUpdate ? 'Update' : 'Submit'}}
            </button>

        </div>
    </form>

</div>