<div>
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs w-full text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Task name</th>
        <th scope="col" class="px-6 py-3 text-center">stage</th>
        <th scope="col" class="px-6 py-3 text-center">priority</th>
        <th
          scope="col"
          class="px-6 py-3 flex justify-center items-center gap-2"
        >
          deadline
          <button
            (click)="sortModeChange('desc')"
            *ngIf="sortMode == 'asc'"
            class="bg-gray-300 text-lg w-6 h-6 inline-flex justify-center items-center rounded-full"
          >
            <i class="ri-arrow-down-line"></i>
          </button>

          <button
            (click)="sortModeChange('asc')"
            *ngIf="sortMode == 'desc'"
            class="bg-gray-300 text-lg w-6 h-6 inline-flex justify-center items-center rounded-full"
          >
            <i class="ri-arrow-up-line"></i>
          </button>
        </th>
        <!-- <th scope="col" class="px-6 py-3">Date From Now</th> -->
      </tr>
    </thead>
    <tbody>
      <tr
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
        *ngFor="let task of sortedTasksByDate()"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium capitalize text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ task.name }}
        </th>
        <td class="px-6 py-4 text-center">
          <span
            class="bg-gray-200 p-1 rounded-3xl pr-2 text-gray-600 inline-flex items-center"
            [ngClass]="{
              'bg-gray-100 text-gray-500': task.stage == 0,
              'bg-blue-100/80 text-blue-600': task.stage == 1,
              'bg-green-200 text-green-500': task.stage == 2,
              'bg-red-200 text-red-500': task.stage == 3
            }"
          >
            <i class="ri-checkbox-blank-circle-fill mr-1"></i
            >{{ taskService.giveStage(task.stage) }}</span
          >
        </td>
        <td class="px-6 py-4 text-center">
          <span
            class="bg-gray-200 p-1 rounded-3xl px-2 pr-2 text-gray-600 inline-flex items-center"
            [ngClass]="{
              'bg-green-100 text-green-500': task.priority == 0,
              'bg-yellow-100/80 text-yellow-600': task.priority == 1,
              'bg-red-200 text-red-500': task.priority == 2
            }"
          >
            <i class="ri-slow-down-line mr-1"></i
            >{{ taskService.givePriority(task.priority) }}
          </span>
        </td>
        <!-- <td class="px-6 py-4 text-center">
          {{ task.deadline | date : "mediumDate" }}
        </td> -->
        <td class="px-6 py-4 text-center">
          <span
            class="text-gray-800 p-1 rounded-3xl"
            [ngClass]="{
              'bg-red-200': isBefore(task.deadline),
            }"
            >{{ task.deadline | date : "mediumDate" }}</span
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
